@import '~vuetify/src/styles/styles.sass';

.v-card.float-over-expanded {
  margin-top: -80px;
}

@media #{map-get($display-breakpoints, 'md-and-up')} {
  .v-card.float-over-expanded {
    margin-top: -88px;
  }
}

.v-input--switch .v-label {
  margin-left: .5rem;
  font-size: .875rem;
}

.v-stepper__content .v-stepper__wrapper {
  padding: 0 64px 0 32px;
}

.v-stepper__step .v-stepper__step__step .v-icon.v-icon {
  font-size: .875rem;
}

.form-with-fab .v-speed-dial--bottom,
.form-with-fab .v-btn--absolute.v-btn--bottom {
  z-index: 5;
  bottom: 28px !important;
}

.form-with-fab .v-data-table tbody tr,
.form-with-fab .v-data-table tbody tr .v-chip {
  cursor: pointer;
}

.help-icon {
  cursor: help;
}

.item-preview {
  .v-card {
    border-radius: 8px !important;
    box-shadow: 0 3px 12px rgba(black, .15);
  }

  .v-image, .v-avatar {
    border-radius: 8px 0 0 8px !important;
  }
}

.v-tooltip__content:not(.image-tooltip) {
  padding: 4px !important;

  &.menuable__content__active {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  p:only-child {
    margin: 8px 12px;
    text-align: center;
  }
}

.v-tooltip__content.image-tooltip {
  padding: 0 !important;

  .v-image {
    border-radius: 4px !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #ffecb3ff inset !important;
}
